$header-footer-bg: #2C332D;
$bg-primary: #F6F6F6;
$main-grey: #D1D1D6;
$title-table: #ECF2EC;
$bg-green: #40BB15;

$white-text: #F6F6F6;
$main-text: #2C332D;
$small-text: #666666;
$error-text: #E6782D;