.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 226px;
  width: 226px;
  height: 56px;
  background: $bg-green;
  border-radius: 8px;
  cursor: pointer;
  font-family: Dosis;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.68px;
  color: #FFFFFF;
}