.small-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* min-width: 226px; */
  /* width: 226px; */
  /* height: 56px; */
  background: #40BB15;
  border-radius: 3px;
  cursor: pointer;
  font-family: Dosis;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* line-height: 23px; */
  letter-spacing: 0.68px;
  color: #FFFFFF;
  border: none;
  padding: 2px 5px;
}